<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t '.page_title'%></h1>
      <%= form_with model: @board, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <%= f.label :title %>
        <%= f.text_field :title, class:'form-control' %>

        <%= f.label :body %>
        <%= f.text_area :body,rows: 10, class: 'form-control' %>

        <%= f.label :board_image %>
        <%= f.file_field :board_image,id: :board_board_image, accept: 'image/jpg,image/jpeg,image/gif,image/png', class: 'form-control' %>
        <% if @board.board_image.present? %>
          <%= image_tag @board.board_image.to_s, id: :img_prev%>
        <%else%>
          <%= image_tag src='board_placeholder.png', id: :img_prev %>
        <%end%>
          <script type="text/javascript">
            $(function() {
              function readURL(input) {
                if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
                    $('#img_prev').attr('src', e.target.result);
                  }
                  reader.readAsDataURL(input.files[0]);
                }
              }
                $("#board_board_image").change(function(){
                  readURL(this);
                });
              });
          </script>
        <br>
        <br>
        <%= f.submit class:'btn btn-primary' %>
      <%end%>
    </div>
  </div>
</div>
