<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t '.page_title'%></h1>
      <%= form_with model: @board, local: true do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class:'form-control' %>

        <%= f.label :body %>
        <%= f.text_area :body,rows: 10, class: 'form-control' %>

        <%= f.submit (t 'helpers.submit.post'), class:'btn btn-primary' %>
      <%end%>
    </div>
  </div>
</div>