<!DOCTYPE html>
<html>
  <head>
    <title>RunteqNormal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |message_type,message| %>
      <div class='alert alert-<%= message_type %>'><%= message %></div>
    <%end%>
    <% if current_user %>
      <%= render 'shared/header'%>
    <% else %>
      <%= render 'shared/before_login_header'%>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
